.btn{
    color: gray;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
    border-radius: 10rem 10rem 10rem 10rem;
    border: none;
    background-color: #e72929;
    color: white;
    opacity: .8;
}
.btn:hover{
    opacity: 1;
    cursor: pointer;
}
.sbtn{
    color: gray;
    height: 2rem;
    width: 4rem;
    font-size: 1rem;
    border-radius: 10rem 10rem 10rem 10rem;
    border: none;
    background-color: #e72929;
    color: white;
    opacity: .8;
    float: right;
    margin-right: 10px;
}
.sbtn:hover{
    opacity: 1;
    cursor: pointer;
}