<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<app-search></app-search>
<app-tags></app-tags>
<button class="btn" routerLink="/askqn">Ask Question</button>
<br>
<br>
<br>
<!-- <ul>
  <li *ngFor="let item of responseData">
    <a routerLink="/page/{{item.id}}">
      <div class="content">
        <div class="qn">
          {{item.title}}
        </div>
        <span class="votes">
          👍
        </span>
        <span class="answers">
          📝
        </span>
      </div>
    </a>
  </li>
</ul> -->

<div class="list-group">
    <ul>
        <li *ngFor="let item of responseData">
            <a routerLink="/page/{{item.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{item.title}}</h5>
                <!-- <small> <button class="sbtn" ng-click="incrementLikes(item.id)">👎{{item.unlike}}</button><button class="sbtn">👍{{item.like}}</button></small> -->
                <small>👍{{item.like}} 👎{{item.unlike}}</small>
              </div>
              <p class="mb-1">{{item.ac}} answers</p>
            </a>
            <br>
            </li>
    </ul>
    
  </div>


